<div
  class="kri-checkbox"
  [ngClass]="{
    active: checkedState(),
    disabled: disabled(),
    unchecked: !checkedState()
  }"
>
  <label title="{{ isShowTitle() ? title() || label() : '' }}">
    <input
      [name]="name() || 'checkbox-' + id"
      class="kri-checkbox-input"
      type="checkbox"
      [attr.id]="'checkbox-' + id"
      [attr.aria-labelledby]="ariaLabelledBy()"
      [attr.aria-label]="ariaLabel()"
      [checked]="checkedState()"
      [disabled]="disabled()"
      (click)="$event.stopPropagation()"
      (change)="$event.stopPropagation()"
    />
    <span
      class="kri-checkbox-material"
      [ngStyle]="{
        'border-color': checkedState() && color() ? color() : '',
        'background-image': color() ? 'linear-gradient(' + color() + ', ' + color() + ')' : '',
        'background-color': color() || ''
      }"
      [ngClass]="{
        'custom-color': color(),
        'kri-checkbox-no-label': !label() && !hasContent(),
        'kri-no-animation': !showAnimation(),
        'kri-checkbox-default-background': true
      }"
    >
      <svg viewBox="0 0 14 14" width="14" height="14" class="kri-checkbox-tick">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            class="kri-tick"
            [ngClass]="{
              'kri-no-animation': !showAnimation()
            }"
            d="M 2.3 7.0 5.6 9.6 11.4 3.5"
            stroke="#fff"
            stroke-width="1.5"
            fill="none"
          />
        </g>
      </svg>
    </span>
    <ng-container *ngIf="!!label() && !hasContent()">{{ label() }}</ng-container>
    <span #content><ng-content></ng-content></span>
  </label>
</div>
