// brand
$kri-brand-100: #FFDEC3;
$kri-brand-300: #FDB071;
$kri-brand-500: #FE8522;
$kri-brand-700: #F08227;

// controls
$kri-controls-50: #F6F8FD;
$kri-controls-100: #EEF2FC;
$kri-controls-a100: #E4EBF9;
$kri-controls-200: #ACBFEE;
$kri-controls-300: #87ABFF;
$kri-controls-400: #3A69D7;
$kri-controls-500: #2358D1;
$kri-controls-700: #1B47C8;

// additional
$kri-additional-100: #202124;
$kri-additional-300: #E3E3EA;
$kri-additional-500: #CECFD9;
$kri-additional-700: #9C9EA9;

// success
$kri-success-100: #EEFDEB;
$kri-success-300: #ABE5A0;
$kri-success-500: #07B324;
$kri-success-700: #129729;

// warning
$kri-warning-100: #FEEBCF;
$kri-warning-300: #FDDDAF;
$kri-warning-500: #FBBB5E;
$kri-warning-700: #FF9F13;

// error
$kri-error-100: #FDEBED;
$kri-error-300: #F2A0A7;
$kri-error-500: #FF0A3B;
$kri-error-700: #DA291C;

// black
$kri-black-4: #F6F6F6;
$kri-black-8: #EDEDED;
$kri-black-12: #E4E4E4;
$kri-black-24: #CACACB;
$kri-black-38: #AAABAC;
$kri-black-54: #878789;
$kri-black-60: #797A7C;
$kri-black-72: #5E5F61;
$kri-black-87: #3D3E40;
$kri-black-100: #202124;

// white
$kri-white: #ffffff;

