$kri-border-radius: var(--kri-border-radius, 2px);
$kri-border-radius-4: var(--kri-border-radius, 4px);
$kri-border-radius-8: var(--kri-border-radius, 8px);
$kri-border-radius-24:  var(--kri-border-radius-24, 24px);
$kri-border-radio-full: var(--kri-border-radio-full, 100px);
$kri-border-toggle-full: var(--kri-border-toggle-full, 100px);
