$kri-font-size-icon: var(--kri-font-size-icon, 16px);
$kri-font-size-12: var(--kri-font-size-12, 12px);
$kri-font-size-14: var(--kri-font-size-14, 14px);
$kri-font-size-16: var(--kri-font-size-16, 16px);
$kri-font-size-18: var(--kri-font-size-18, 18px);
$kri-font-size-20: var(--kri-font-size-20, 20px);
$kri-font-size-24: var(--kri-font-size-24, 24px);
$kri-font-size-32: var(--kri-font-size-32, 32px);
$kri-font-size-42: var(--kri-font-size-42, 42px);

$kri-line-height-base: var(--kri-line-height-base, 1.5);

$font-family: 'Inter', sans-serif;



