$icomoon-font-family: "krai-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-sale: unquote('"\\e900"');
$icon-status: unquote('"\\e901"');
$icon-location-point: unquote('"\\e902"');
$icon-download-upload: unquote('"\\e903"');
$icon-route: unquote('"\\e904"');
$icon-url-rewrite: unquote('"\\e905"');
$icon-coefficient: unquote('"\\e907"');
$icon-point-download: unquote('"\\e909"');
$icon-point-upload: unquote('"\\e90a"');
$icon-phone: unquote('"\\e90b"');
$icon-leavings: unquote('"\\e90c"');
$icon-role: unquote('"\\e90e"');
$icon-refresh-change: unquote('"\\e90f"');
$icon-picking: unquote('"\\e910"');
$icon-setting: unquote('"\\e911"');
$icon-email: unquote('"\\e912"');
$icon-storefront: unquote('"\\e914"');
$icon-share-branches: unquote('"\\e915"');
$icon-transfert: unquote('"\\e918"');
$icon-zoom-out: unquote('"\\e91a"');
$icon-zoom-in: unquote('"\\e91b"');
$icon-roles: unquote('"\\e91c"');
$icon-link: unquote('"\\e91e"');
$icon-users: unquote('"\\e91f"');
$icon-storefront-outline: unquote('"\\e921"');
$icon-formatting-bold: unquote('"\\e922"');
$icon-partners: unquote('"\\e923"');
$icon-basket: unquote('"\\e927"');
$icon-send: unquote('"\\e929"');
$icon-camera-add: unquote('"\\e92a"');
$icon-visible: unquote('"\\e92b"');
$icon-bar-code: unquote('"\\e92d"');
$icon-offer: unquote('"\\e92e"');
$icon-shield-off: unquote('"\\e92f"');
$icon-set-figures: unquote('"\\e930"');
$icon-sort: unquote('"\\e931"');
$icon-gift: unquote('"\\e932"');
$icon-poligon: unquote('"\\e933"');
$icon-faq: unquote('"\\e934"');
$icon-invisible: unquote('"\\e935"');
$icon-online-pay: unquote('"\\e936"');
$icon-attach-file: unquote('"\\e938"');
$icon-repeat-refresh: unquote('"\\e939"');
$icon-list: unquote('"\\e93a"');
$icon-support: unquote('"\\e93b"');
$icon-characteristic: unquote('"\\e93d"');
$icon-star-outline: unquote('"\\e93e"');
$icon-paragraph: unquote('"\\e940"');
$icon-percent: unquote('"\\e942"');
$icon-dice: unquote('"\\e943"');
$icon-map: unquote('"\\e944"');
$icon-comment-mark: unquote('"\\e945"');
$icon-add-to-card: unquote('"\\e946"');
$icon-cloud-off: unquote('"\\e947"');
$icon-double-arrow-left: unquote('"\\e948"');
$icon-double-arrow-down: unquote('"\\e949"');
$icon-double-arrow-up: unquote('"\\e94a"');
$icon-double-arrow-right: unquote('"\\e94b"');
$icon-filter-mark: unquote('"\\e94c"');
$icon-tasks-done: unquote('"\\e94d"');
$icon-dot-lists: unquote('"\\e94e"');
$icon-camera-off: unquote('"\\e94f"');
$icon-branches: unquote('"\\e950"');
$icon-smile: unquote('"\\e951"');
$icon-print: unquote('"\\e952"');
$icon-timer: unquote('"\\e953"');
$icon-like: unquote('"\\e954"');
$icon-empty-basket: unquote('"\\e955"');
$icon-delivery: unquote('"\\e956"');
$icon-unpin: unquote('"\\e957"');
$icon-attention: unquote('"\\e958"');
$icon-circle-cancel-outline: unquote('"\\e959"');
$icon-shield: unquote('"\\e95a"');
$icon-menu-close: unquote('"\\e95b"');
$icon-check-calendar: unquote('"\\e95c"');
$icon-dislike: unquote('"\\e95d"');
$icon-qr-zone: unquote('"\\e95f"');
$icon-cancel-small: unquote('"\\e961"');
$icon-decimal-numbers: unquote('"\\e963"');
$icon-filter: unquote('"\\e964"');
$icon-statistics: unquote('"\\e965"');
$icon-integer: unquote('"\\e966"');
$icon-filter-sort: unquote('"\\e967"');
$icon-delete: unquote('"\\e968"');
$icon-loader: unquote('"\\e969"');
$icon-cancel: unquote('"\\e96a"');
$icon-heart-outline: unquote('"\\e96b"');
$icon-cart-outline: unquote('"\\e96c"');
$icon-premium: unquote('"\\e96d"');
$icon-user: unquote('"\\e96e"');
$icon-money: unquote('"\\e96f"');
$icon-orders: unquote('"\\e970"');
$icon-location: unquote('"\\e972"');
$icon-cart: unquote('"\\e973"');
$icon-numbered-lists: unquote('"\\e974"');
$icon-gps: unquote('"\\e975"');
$icon-menu: unquote('"\\e976"');
$icon-categories: unquote('"\\e977"');
$icon-home-outline: unquote('"\\e978"');
$icon-monitoring: unquote('"\\e979"');
$icon-wallet: unquote('"\\e97b"');
$icon-exit: unquote('"\\e97c"');
$icon-shopping-bag: unquote('"\\e97d"');
$icon-login: unquote('"\\e97e"');
$icon-contract: unquote('"\\e97f"');
$icon-news: unquote('"\\e980"');
$icon-layers: unquote('"\\e981"');
$icon-landing: unquote('"\\e982"');
$icon-circle-cancel: unquote('"\\e983"');
$icon-box: unquote('"\\e984"');
$icon-camera: unquote('"\\e985"');
$icon-refand: unquote('"\\e986"');
$icon-arrow-down: unquote('"\\e987"');
$icon-comment: unquote('"\\e988"');
$icon-like-fill: unquote('"\\e989"');
$icon-star: unquote('"\\e98a"');
$icon-edit: unquote('"\\e98b"');
$icon-dislike-fill: unquote('"\\e98c"');
$icon-rotate: unquote('"\\e98d"');
$icon-arrow-downward: unquote('"\\e98e"');
$icon-arrow-up-thin: unquote('"\\e98f"');
$icon-arrow-back: unquote('"\\e990"');
$icon-home: unquote('"\\e991"');
$icon-moon: unquote('"\\e992"');
$icon-share: unquote('"\\e993"');
$icon-pin: unquote('"\\e994"');
$icon-heart-fill: unquote('"\\e995"');
$icon-search: unquote('"\\e996"');
$icon-time: unquote('"\\e997"');
$icon-warning: unquote('"\\e998"');
$icon-cloud: unquote('"\\e999"');
$icon-multiline-text: unquote('"\\e99a"');
$icon-more: unquote('"\\e99b"');
$icon-info: unquote('"\\e99c"');
$icon-chevron-left: unquote('"\\e99d"');
$icon-ok-small: unquote('"\\e99e"');
$icon-ok: unquote('"\\e99f"');
$icon-arrow-up: unquote('"\\e9a0"');
$icon-post: unquote('"\\e9a1"');
$icon-carrousel: unquote('"\\e9a2"');
$icon-right-alignment: unquote('"\\e9a3"');
$icon-center-alignment: unquote('"\\e9a4"');
$icon-rb-checked: unquote('"\\e9a5"');
$icon-left-alignment: unquote('"\\e9a6"');
$icon-circle-check: unquote('"\\e9a7"');
$icon-template: unquote('"\\e9a9"');
$icon-image: unquote('"\\e9aa"');
$icon-lock: unquote('"\\e9ab"');
$icon-document: unquote('"\\e9ac"');
$icon-arrow-right: unquote('"\\e9ad"');
$icon-toggle-off: unquote('"\\e9ae"');
$icon-ban: unquote('"\\e9af"');
$icon-near-me-outline: unquote('"\\e9b0"');
$icon-chevron-down: unquote('"\\e9b1"');
$icon-card: unquote('"\\e9b2"');
$icon-cb-checked: unquote('"\\e9b3"');
$icon-file-copy: unquote('"\\e9b4"');
$icon-chevron-up: unquote('"\\e9b5"');
$icon-chevron-right: unquote('"\\e9b6"');
$icon-plus: unquote('"\\e9b7"');
$icon-near-me: unquote('"\\e9b8"');
$icon-short-text: unquote('"\\e9b9"');
$icon-minus: unquote('"\\e9ba"');
$icon-drop-down: unquote('"\\e9bb"');
$icon-dot: unquote('"\\e9bc"');
$icon-drop-up: unquote('"\\e9bd"');

