@import "font";

.kri-reset-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9C9EA9;
  color: #fff;
  border-radius: 20px;
  &.counter {
    padding: 4px;
    min-width: 30px;
    height: 30px;
  }
  span {
    font-size: 14px;
    font-family: $font-family;
    font-weight: 600;
    padding: 0 4px;
  }

  button {
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff9;
  }
}
