@import 'hljs-light.css';

/* Base colors */
:root {
  --ng-doc-base-0: #ffffff;
  --ng-doc-base-1: #f0f0f0;
  --ng-doc-base-2: #e0e0e0;
  --ng-doc-base-3: #d0d0d0;
  --ng-doc-base-4: #c0c0c0;
  --ng-doc-base-5: #b0b0b0;
  --ng-doc-base-6: #a0a0a0;
  --ng-doc-base-7: #909090;
  --ng-doc-base-8: #808080;
  --ng-doc-base-9: #707070;
  --ng-doc-base-10: #606060;

  /* Text colors */
  --ng-doc-text: #000000;
  --ng-doc-text-muted: var(--ng-doc-base-7);
  --ng-doc-text-selection: #4373c2;

  /* Other colors */
  --ng-doc-shadow-color: rgba(0, 0, 0, 0.1);
  --ng-doc-link-color: #1a73e8;
  --ng-doc-inline-code-background: #f5f5f5;

  /* Primary and info colors */
  --ng-doc-primary: #6200ea;
  --ng-doc-info: #03dac6;

  /* Highlighting and search result colors */
  --ng-doc-mark-background: rgba(255, 235, 59, 0.3);
  --ng-doc-search-result-color: #000000;

  /* Tag colors */
  --ng-doc-api-tag-background: #ef5350;
  --ng-doc-api-tag-color: var(--ng-doc-base-10);
  --ng-doc-guide-tag-background: #ffca28;
  --ng-doc-guide-tag-color: var(--ng-doc-base-10);

  /* Input and Button colors */
  --ng-doc-input-background: #ffffff;
  --ng-doc-input-border: #cccccc;
  --ng-doc-input-foreground: #000000;
  --ng-doc-input-placeholder: #aaaaaa;
  --ng-doc-button-foreground: #000000;

  /* Badge and Progress colors */
  --ng-doc-badge-background: #cccccc;
  --ng-doc-badge-foreground: #000000;
  --ng-doc-progress-background: #6200ea;
}
