@import "../../style/theme/color";
@import "../../style/theme/font";
@import "../../style/theme/shadow";
@import "../../style/theme/dropdown";

@mixin list-item-styles {
  font-size: $kri-font-size-14;
  padding: 0.5em 1em;

  &:hover:not(.active):not(.disabled) {
    background-color: $kri-select-list-item-hover-bg;
  }

  &.active {
    font-weight: 600;
  }

  &.disabled {
    cursor: not-allowed;
    color: $kri-select-list-item-disabled-text;
  }
}

.kri-select {
  .kri-select-input {
    cursor: pointer;
    padding-right: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::placeholder {
      color: $kri-form-control-placeholder;
    }
  }

  .kri-float-label .kri-select-input::placeholder {
    color: transparent;
  }

  .kri-dropdown-menu {
    display: block;
    width: calc(100% - 4px);
    left: 2px;
    margin: 4px 0;
    cursor: pointer;
    max-height: 256px;
    overflow-y: auto;
    box-shadow: $kri-shadow-select $kri-select-shadow-color;

    .kri-dropdown-menu-wrap {
      position: relative;
    }
  }

  .kri-select-list,
  .kri-select-list > ul {
    li {
      @include list-item-styles;

      ::ng-deep .kri-checkbox label {
        font-size: $kri-font-size-14;
        font-weight: inherit;
      }
    }
  }

  .kri-dropdown-item {
    font-family: $font-family;
    color: $kri-select-dropdown-item-text;
    @include list-item-styles;

    &.disabled {
      cursor: not-allowed;
      color: $kri-select-list-item-disabled-text;
    }
  }
}

hr {
  height: 1px;
  border: none;
  margin: 0 12px;
  background-color: $kri-select-hr-color;
}

.no-results {
  cursor: default;
  padding: 16px 12px;
}
