<div class="kri-select kri-drop{{ state.config().direction === 'bottom' ? 'down' : 'up' }}">
  <div class="kri-form-group"
       [class.disabled]="inputs.disabled()"
       (click)="onDropdownClick($event)">
    @if (inputs.floatLabel()) {
      <div class="kri-float-label">
        <ng-template [ngTemplateOutlet]="input"></ng-template>
        <label kriInputTextLabel [size]="state.config().size!">{{ inputs.floatLabel() }}</label>
      </div>
    } @else {
      <ng-template [ngTemplateOutlet]="input"></ng-template>
    }
    <ng-template #input>
      <input name="select-input"
             class="kri-select-input"
             kriInputText
             kriResetInput
             kriChevron
             [showResetInput]="inputs.multiple()"
             [showCounter]="inputs.multiple()"
             [selectedItems]="state.selectedItems()"
             (resetInput)="reset()"
             [value]="state.displayText()"
             (focus)="onSearchFocus()"
             (blur)="onSearchBlur()"
             (input)="searchTextInput($event)"
             (change)="searchTextChanged()"
             [size]="state.config().size!"
             [placeholder]="state.config().placeholder"
             [hasError]="inputs.hasError()"
             [disabled]="inputs.disabled()"
             [readonly]="!state.config().search"
             autocomplete="off">
    </ng-template>
  </div>
  @if (state.toggleDropdown()) {
    <div class="kri-dropdown-menu"
         [class.kri-dropdown-menu-multiple]="inputs.multiple()">
      @if (state.config()?.enableSelectAll && inputs.multiple() && !state.showNotFound()) {
        <ul>
          <li class="kri-dropdown-item" (click)="toggleSelectAll({ close: true, emitChange: true })">
            <kri-checkbox [label]="state.config().selectAllLabel!" [checked]="state.selectAll()"/>
          </li>
        </ul>
      }
      @if (state.availableItems().length && inputs.multiple() && !state.showNotFound()) {
        <hr/>
      }
      <ul class="kri-dropdown-menu-wrap">
        @for (item of state.availableItems()
          | filterBy: state.selectTextInSearch():state.config().searchOnKey
          | limitTo: state.config().limitTo; track item) {
          <ul class="kri-select-list" #availableOption
              [ngClass]="{
            active: selectService.isItemSelected(item) && !item.disabled,
            disabled: item.disabled
          }"
              (click)="toggleItem(item)"
              (mousedown)="state.availableOptionMouseDown.set(true)">
            <ng-container [ngTemplateOutlet]="availableItemTemplate"
                          [ngTemplateOutletContext]="{ item: item, config: state.config(), selectedItems: state.selectedItems() }">
            </ng-container>
          </ul>
        } @empty {
          <ng-container [ngTemplateOutlet]="inputs.notFoundTemplate() || notFound"></ng-container>
        }
      </ul>
    </div>
  }
</div>

<ng-template #notFound>
  <div class="no-results">{{ state.config().noResultsFound }}</div>
</ng-template>

<ng-template #availableItemTemplate let-item="item" let-config="config">
  @if(inputs.multiple()) {
    <li class="kri-dropdown-item" [class.active]="selectService.isItemSelected(item)" [class.disabled]="item.disabled">
      @if (!inputs.optionItemTemplate()) {
        <kri-checkbox class="kri-select-checkbox"
                      [label]="config.displayFn ? config.displayFn(item) : item[config.displayKey] || item"
                      [checked]="selectService.isItemSelected(item)"
                      [disabled]="item.disabled" />
      } @else {
        <ng-container [ngTemplateOutlet]="inputs.optionItemTemplate()"
                      [ngTemplateOutletContext]="{ item: item, config: state.config(), selectedItems: state.selectedItems() }">
        </ng-container>
      }
    </li>
  } @else {
    <li class="kri-dropdown-item" [class.active]="selectService.isItemSelected(item)" [class.disabled]="item.disabled">
      @if(inputs.optionItemTemplate()) {
        <ng-container [ngTemplateOutlet]="inputs.optionItemTemplate()"
                      [ngTemplateOutletContext]="{ item: item, config: state.config(), selectedItems: state.selectedItems() }">
        </ng-container>
      } @else {
        {{ config.displayFn ? config.displayFn(item) : item[config.displayKey] || item }}
      }
    </li>
  }
</ng-template>
