// Import color, font, shadow, and dropdown theme styles
@import "../../style/theme/color";
@import "../../style/theme/font";
@import "../../style/theme/shadow";
@import "../../style/theme/dropdown";

// Mixin for styling list items
@mixin list-item-styles {
  font-size: $kri-font-size-14;
  padding: 0.5em 1em;

  &:hover:not(.active):not(.disabled) {
    background-color: $kri-select-list-item-hover-bg;
  }

  &.active {
    font-weight: 600;
  }

  &.disabled {
    cursor: not-allowed;
    color: $kri-select-list-item-disabled-text;
  }
}

// Styles for the select component
.kri-select {
  // Styles for the select input element
  .kri-select-input {
    // Placeholder styles for the select input
    &::placeholder {
      color: $kri-form-control-placeholder;
    }

    // Styles for the select input when disabled
    &:disabled {
      cursor: not-allowed;
    }
  }

  // Placeholder styles for the select input within floating label
  .kri-float-label .kri-select-input::placeholder {
    color: transparent;
  }

  // Styles for the dropdown menu
  .kri-dropdown-menu {
    // Container for the dropdown menu items
    .kri-dropdown-menu-wrap {
      position: relative;
    }
  }

  // Styles for the select list and its items
  .kri-select-list,
  .kri-select-list > ul {
    li {
      // Apply list item styles
      @include list-item-styles;

      // Override styles for checkbox labels
      ::ng-deep .kri-checkbox label {
        font-size: $kri-font-size-14;
        font-weight: inherit;
      }
    }
  }

  // Styles for individual dropdown items
  .kri-dropdown-item {
    font-family: $font-family;
    color: $kri-select-dropdown-item-text;
    @include list-item-styles;

    // Styles for disabled dropdown items
    &.disabled {
      cursor: not-allowed;
      color: $kri-select-list-item-disabled-text;
    }
  }
}

// Styles for horizontal rules (hr) used in dropdowns
hr {
  height: 1px;
  border: none;
  margin: 0 12px;
  background-color: $kri-select-hr-color;
}

// Styles for no-results message in dropdown
.no-results {
  cursor: default;
  padding: 16px 12px;
}
